
header {
    background-color: #f3cdd2;
    color: #458548;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 180px;
    background-color: #ffb6c1d6;
    color: #19871e;
    
    

}

#mentalHealthPage {
    /*background-image: url(./imagenes/MENTALHEALTH-LOGO.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-position: 50px 25px;*/
    /*background-position: left top;*/
    /*background-position: left center*/
    /*background-position: 50% 10%;*/

    background-image: url(./imagenes/MENTALHEALTH-LOGO.png) no repeat center center firex;
    background-size: cover;

}

col {
    width: 100%;
}


.col .accordion {
    margin-top: -45px; /* Ajusto la altura del acrodión */
}

.col .accordion-collapse {
    /* transicion del acordeon*/
    /*transition: none;  Cambia o elimina esta línea */
    
}




.col {
    text-align: center; /* Para centrar el contenido */
}

.col img {
    border-color:#ffb6c1d6;
    margin: 0 auto 10px; /* Espaciado inferior para separar las imágenes */
    padding: 0;
    margin-top: 0;
}

.col a {
    display: block; /* Asegura que los enlaces estén centrados y ocupen todo el ancho del contenedor */
}

.col div {
    background-color: #ffb6c1d6;
    color: #19871e;
    padding: 10px;

}

.col h2 {
    background-color: #ffb6c1d6;
    color: #19871e;
}



#mentalHealthPage .accordion-button {
    background-color: #ffb6c1d6; /* Cambia el color de fondo a rosa claro (#FFB6C1) */
    color: #19871e; /* Cambia el color del texto a verde oscuro (#19871e) */
}

#mentalHealthPage header img.img-thumbnail {
       
    float: left; /* Posiciona la imagen a la izquierda */
    margin-top: -70px; /* Ajusta el valor según tu preferencia para moverlo hacia arriba */
    padding: 0; 
}





